.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 4px 7px -1px rgba(176,176,176,0.75);
    -webkit-box-shadow: 1px 4px 7px -1px rgba(176,176,176,0.75);
    -moz-box-shadow: 1px 4px 7px -1px rgba(176,176,176,0.75);
}

.chartTitle{
    margin-bottom: 20px;
    font-style: 40px;
    font-weight: bold;
}