.userList{
    flex: 4;
    height: 400px;
}

.userListAvatar{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.userListAction{
    display: flex;
    align-items: center;
}

.userListEdit{
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}